*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red;  */
}

body{
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1000px;
    min-height: 50vh;
    padding: 40px;
    outline: 2px solid red;
}

.main-menu-div{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('/images/VS-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

h1{
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.display-screen{
    display: flex;
    
}

.img img{
    height: 100px;
    width: 100px;
}

.main-menu-div h2{
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
    color:rgb(95, 132, 218);
    font-weight: 1000;
    text-shadow: 12px 10px 10px black;
}

.main-menu-div.hide-display{
    display: none;
}

.choose-div{
    display: flex;
}

.player-one-div,
.player-two-div{
    margin: 0 auto;
}

.player-character-div{
    display: flex;
}

.img{
    margin: 8px;
    padding: 3px;

    &:hover{
        border: 5px dashed rgb(9, 127, 9);
        margin: 3px;
    }
}

.player-one,
.player-two{
    text-align: center;
    padding: 8px;
    font-size: 1.3rem;
    font-weight: 800;
}

.button-div{
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
}

.start-btn{
    font-size: 1.8rem;
    font-weight: 800;
    padding: 10px;
    border: none;
    border-radius: 14px;
    background-color: rgb(179, 73, 73);
}

.img.targeted{
        border: 5px solid green;
        margin: 3px;
}

/* playscreen */

.play-screen{
    min-height: 70%;
    width: 100%;
    background-color: aqua;
    outline: 2px solid red;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: url('/images/VS-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.play-screen.hide-display{
    display: none;
}

.play-area{
    display: flex;
    justify-content: space-between;
}

.turn-indicator{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 40px;
}

.game-board-div{
    max-height: 400px;
    width: 400px;
    display: flex;  
    flex-direction: column;
}

.game-board-div > div{
    width: 100%; 
    flex: 1 1 auto;
    display: flex;
}

[data-x]{
    width: 120px;
    height: 120px;
    border: 2px solid black;
    flex: 1 1 auto;
}

[data-x] img{
    height: 100%;
    width: 100%;
    background-color: aqua  ;
}

.player-one-display,
.player-two-display{
    outline: 2px solid red;
    padding: 10px;
    max-height: max-content;
    margin: 30px;  

    & .player-name{
        font-size: 1.2rem;
        color: red;
        text-align: center;
        margin-bottom: 8px;
    }

    & .image{
        margin: 0 auto;
        height: 150px;
        width: 150px;
    }

    & img{
        height: 150px;
        width: 150px;
    }
}

.display-error{
    font-size: 2rem;
    margin: 0 auto;
    color: white;
    font-weight: 900;
    padding: 20px;
}

.display-error.hide-display{
    display: none;
}
