*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

body{
    background-image: linear-gradient(to top right, yellow, red);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1200px;
    min-height: 50vh;
    height: 800px;
    padding: 40px;
}

.main-menu-div{
    width: 100%;
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('images/VS-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

h1{
    font-family: "VT323";
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    font-size: 70px;

}

.display-screen{
    display: flex;
    
}

.img img{
    height: 100px;
    width: 100px;
}

.main-menu-div h2{
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    font-style: italic; 
    color:rgb(236, 240, 170);
    font-weight: 1000;
    text-shadow: 12px 10px 10px black;
}

.main-menu-div.hide-display{
    display: none;
}

.choose-div{
    display: flex;
}

.player-one-div,
.player-two-div{
    margin: 0 auto;
}

.player-character-div{
    display: flex;
}

.img{
    margin: 8px;
    padding: 3px;

    &:hover{
        border: 5px dashed rgb(9, 127, 9);
        margin: 3px;
    }
}

.player-one,
.player-two{
    text-align: center;
    padding: 8px;
    font-size: 1.3rem;
    font-weight: 800;
}

.button-div{
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
}

.start-btn{
    font-size: 1.8rem;
    font-weight: 800;
    padding: 10px;
    border: none;
    border-radius: 14px;
    background-image: linear-gradient(to right, rgb(240, 227, 38) 20%, red);
    box-shadow: 10px 10px 10px black;
    transition: 0.2s all ease;
    margin: 0 auto;

    &:active{
        transform: translate(0, 10px);
    }
}



.img.targeted{
        border: 5px solid green;
        margin: 3px;
}

/* playscreen */

.play-screen{
    min-height: 70%;
    width: 100%;
    background-color: aqua;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: url('images/VS-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.play-screen.hide-display{
    display: none;
}

.play-area{
    display: flex;
    justify-content: space-between;
}

.turn-indicator{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 40px;
    color: rgb(240, 240, 64);
    font-style: italic;
    text-shadow: 4px 4px 1px black;
}

.game-board-div{
    max-height: 400px;
    width: 400px;
    display: flex;  
    flex-direction: column;
}

.game-board-div > div{
    width: 100%; 
    flex: 1 1 auto;
    display: flex;
}

[data-x]{
    width: 120px;
    height: 120px;
    border: 2px solid black;
    flex: 1 1 auto;
}

[data-x] img{
    height: 100%;
    width: 100%;
    background-color: aqua  ;
}

.player-one-display,
.player-two-display{
    padding: 10px;
    max-height: max-content;
    margin: 30px;  

    & .player-name{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 8px;
    }

    & .image{
        margin: 0 auto;
        height: 150px;
        width: 150px;
    }

    & img{
        height: 150px;
        width: 150px;
    }
}

.display-error{
    font-size: 2rem;
    margin: 0 auto;
    color: white;
    font-weight: 900;
    padding: 20px;
}

.display-error.hide-display{
    display: none;
}

span.arrow{
    color: white;
    font-size: 2rem;
    display: none;
}
.player-one,
.player-two{
    font-size: 2rem;
    text-shadow: 8px 14px 10px black;
}
.player-one,
.player-name.one{
    color: red;
    text-shadow: 2px 2px 1px black;
}

.player-two,
.player-name.two{
    color: rgb(184, 184, 33);
    text-shadow: 2px 2px 1px black;
}

button.play-again{
    margin-top: 20px;
    font-size: 1.6rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, yellow 30%, red);
    box-shadow: 10px 10px 10px black;
    transition: 0.1s all ease;

    &:active{
        transform: translate(0, 10px);
    }
}

.play-again.hide-display{
    display: none;
}